<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LeaderDiandu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D7486ED1B88A884007BE4CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D7487061B88A884007BE4CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2620BC1B1C8C045C00F5C531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
